[Suggestion:]

### Extension Name

Morteza

### Extension ID

An RFC 3986, RFC 3987, and RFC 6570 (level 4) compliant URI string

### What the Extension do?

Good

### Any message?

Help

> ### Extension Name
> Morteza
> 
> ### Extension ID
> An RFC 3986, RFC 3987, and RFC 6570 (level 4) compliant URI string
> 
> ### What the Extension do?
> Good
> 
> ### Any message?
> Help


Good